@{
  Layout = "_Layout";
}
<div class="container index">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span class="logo"><a href="/">HairSalon</a></span>
    <ul>
      <li><a href="/stylists">View All Stylists</a></li>
    </ul>
  </nav>
  <div class="content">
    <h3>Add a client for @Model.GetFirstName() @Model.GetLastName()</h3>

    <form class="" action="/stylists/@Model.GetId()/clients" method="post">
      <input type="hidden" name="stylistId" id="stylistId" value="@Model.GetId()">
      <div class="form-group">
        <label for="firstName"> </label>
        <input type="text" name="firstName" id="firstName">
      </div>

      <div class="form-group">
        <label for="lastName"> </label>
        <input type="text" name="lastName" id="lastName">
      </div>

      <div class="form-group">
        <label for="phoneNumber"> </label>
        <input type="tel" name="phoneNumber" id="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
       required placeholder="555-555-5555">
      </div>

      <button type="submit" class="btn-lg btn-primary">Add Client</button>
    </form>
  </div>
</div>
