@{
  Layout = "_Layout";
}
<div class="container index">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span class="logo"><a href="/">HairSalon</a></span>
    <ul>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <h1 id="banner">Client Details: </h1>

  <h2>@Model.GetFirstName() @Model.GetLastName()</h2>
  <h2>@Model.GetPhoneNumber()</h2>

  <a href='/items/new'>Add another client</a>
  <a href='/items'>View all client</a>
</div>
