@{
  Layout = "_Layout";
}
<div class="container index">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span class="logo"><a href="/">HairSalon</a></span>
    <ul>
      <li><a href="/stylists">Stylists</a></li>
      <li><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add new client</a></li>
    </ul>
  </nav>
  <div class="content">
    <h3>Client Details: </h3>

    <h2>@Model["client"].GetFirstName() @Model["client"].GetLastName()</h2>
    <h3>@Model["client"].GetPhoneNumber()</h3>
  </div>
</div>
